<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Ingresa el título de la tarea"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <input
      matInput
      formControlName="description"
      placeholder="Ingresa una descripción"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="taskForm.invalid"
  >
    Agregar Tarea
  </button>
</form>
