<table mat-table [dataSource]="tasks" class="mat-elevation-z8">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let task">{{ task.title }}</td>
  </ng-container>
  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let task">{{ task.description }}</td>
  </ng-container>
  <!-- Completed Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef>Completed</th>
    <td mat-cell *matCellDef="let task">
      <mat-checkbox
        (change)="toggleCompletion(task)"
        [checked]="task.completed"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let task">
      <button mat-button color="warn" (click)="deleteTask(task.id!)">
        Delete
      </button>
    </td>
  </ng-container>
  <tr
    mat-header-row
    *matHeaderRowDef="['title', 'description', 'completed', 'actions']"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: ['title', 'description', 'completed', 'actions']
    "
  ></tr>
</table>
